/*Clear*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
img{
	width: 100%;
	display: block;
}
.manu{ 
	position: fixed;
	display: block;
	width: 100%;
	border-bottom: 2px solid silver;
	padding: 5px 15%;
	z-index: 100;
}
.manu a{
	font-size: 20px;
	text-decoration: none;
	color: rgb(245, 245, 245);
	font-family: "Arial";
	text-shadow: 0px 1px #000000, 0px -1px #000000;
	padding: 5px 20px;
	display: inline-block;
}
#facebook, #twit, #in, #skype, #logo {
	position: relative;
	top: 10px;
	padding: 0 10px;
}
.manu a::after{
	content: " ";
	display: block;
	position: relative;
	top: 10px;
	width: 100%;
	height: 10px;
	background: rgb(17, 116, 158);
	transform: scaleY(0);
	transition-duration: 0.5s;
	transform-origin: 0 100%;
} 
.manu a:hover::after{
	transform: scaleY(1);
}
.creatives{
 	background-image: url(../img/fon.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 90%;
 }
.creatives h1 {
  	font-size: 100px;
  	color: rgb(245, 245, 245);
  	font-weight: bold;
  	text-transform: uppercase;
  	position: absolute;
  	left: 35%;
  	top: 35%;
  	z-index: 99;
}
.creatives p{
  	font-size: 30px;
  	color: rgb(17, 116, 158);
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 3.2;
  	letter-spacing: 10px;
  	text-align: center;
  	position: absolute;
  	left: 30%;
  	top: 50%;
  	z-index: 99;
}
.down{
	position: relative;
	left: 50%;
  	top: 75%;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer;
}
.down::before{
	content: "Scroll Down";
	width: 100%;
	font-size: 14px;
	color: white;
	position: relative;
	bottom: 45px;
}
.down::after{
	content: "\2771";
	font-size: 2em;
	color: white;
	transform: rotate(90deg);
	display: block;
	position: relative;
	bottom: 15px;
	left: 2px;
}
.weare{
 	background-color: rgb(17, 116, 158);
	position: relative;
	width: 100%;
	height: 80%;
	z-index: 99;
}
.weare h1, .box_form h1{
	font-size: 200px;
	color: rgb(46, 133, 170);
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	left: 45%;
	top: 5%;
	z-index: 99;
}
.weare p, .box_form p{
	font-size: 40px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	position: relative;
  	top: 14%;
	z-index: 99;
}
.icons{
	position: relative;
	left: 12%;
	top: 30%;
	width: 20%;
	float: left;
}
.circle{
	background-color: rgb(46, 133, 170); 
	position: relative;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: 5px 25%;
	display: inline-block;
}
.circle::before{
	content: "";
	display: block;
	background-image: url(../img/icon1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 35px;
	height: 40px;
	position: absolute;
	top: 40%;
	left: 35%;
}
.search::before{
	background-image: url(../img/icon2.png);
}
.coment::before{
	background-image: url(../img/icon3.png);
}
.icons p, .akita p{
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin: 15px auto;
}
span{
	display: block;
	font-size: 16px;
	color: rgb(255, 255, 255);
	position: relative;
	text-align: center;
	line-height: 1.5;
}
.akita{
	position: relative;
	width: 100%;
	height: 100%;
}
.w_100{
	background-color: rgb(17, 116, 158);
	width: 100%;
	height: 25%;
	position: relative;
	padding: 45px;
}
.w_50{
	position: relative;
	width: 50%;	
}
.w_20{
	position: relative;
	width: 20%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.akita .left {
	padding-top: 40px; 
}
.akita .w_50{
	background-color: rgb(34, 34, 34);
}
.akita .right{
	background-color: rgb(255, 255, 255);
}

.akita img{
	width: 100%;
}
.akita p{
  padding: 5px 110px;
}
.akita span{
	padding: 35px 100px;
	text-align: left;
}
.right p, .right span {
	color: rgb(0,0,0);
}
.blog{
 	background-color: rgb(255, 255, 255);
	position: relative;
	width: 100%;
	height: 100%;
}
.blog h1, .teams h1{
	font-size: 200px;
	font-family: sans-serif;
	color: silver;
	font-weight: bold;
	position: absolute;
	left: 47%;
	z-index: 99;
}
.blog p, .teams p{
	font-size: 40px;
	text-align: center;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	position: relative;
  	top: 8%;
	z-index: 99;
}
.blog p:nth-child(3), .teams p:nth-child(3){
	font-size: 30px;
  	letter-spacing: 5px;
	text-transform: none;
  	top: 20%;
}
.blog .w_20, .teams .w_20 {
	padding: 10px;
	top: 25%;
	left: 10%;
	z-index: 99;
}
.blog .w_20 p, .teams .w_20 p{
	font-size: 18px;
	color: rgb(17, 116, 158);
	margin: 20px auto;
}
.blog .w_20 span,.teams .w_20 span {
	font-size: 14px;
	color: rgb(0, 0, 0);
	margin: 20px auto;
}
.w_100 p{
	font-size: 16px;
	color: rgb(255, 255, 255);
	position: relative;
	width: 35%;
	text-align: left;
	line-height: 1.5;
	margin: 0 15px 0 15px;
	float: left;
}
.w_100 img{
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	position: relative;
	margin: 5px 25px;
}
.akita2, .box_form{
 	background-image: url(../img/fon2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 90%;
}
.akita2 .w_50{
	height: 100%;
}
.akita2 .w_50 p{
	font-size: 22px;
	color: rgb(255, 255, 255);
	max-width: 400px;
	text-transform: uppercase;
	position: relative;
	text-align: left;
	margin-top: 100px;
	left: 35%;
}
.akita2 .w_50 span{
	font-size: 16px;
	max-width: 400px;
	color: rgb(255, 255, 255);
	position: relative;
	text-align: left;
	margin-top: 35px;
	left: 35%;
}
button {
	display: block;
	position: relative;
	max-width: 400px;
	background-color: rgb(17, 116, 158);
	padding: 15px;
	margin-top: 35px;
	left: 35%;
	border-radius: 15px;
}
button a{
	font-size: 18px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
.akita2 .w_50 img{
	position: relative;
	width: 350px;
	margin: 50px auto;
}
.teams{
 	background-color: rgb(255, 255, 255);
	position: relative;
	width: 100%;
	height: 100%;
}
.teams .w_20 {
	padding: 10px;
	top: 25%;
	left: 10%;
	z-index: 99;
}
.teams .w_20 p{
	font-size: 18px;
	color: rgb(17, 116, 158);
	margin: 20px auto;
}
.teams .w_20 span{
	font-size: 14px;
	color: rgb(0, 0, 0);
	margin: 20px auto;
}
.box_form {
	background-image: url(../img/fon3.jpg);
}
form {
	position: relative;
	top: 30%;
	margin: 30px 120px;
}
input, textarea{
	position: relative;
	display: inline-block;
	width: 30%;
	background-color: transparent;
	font-size: 14px;
	font-family: sans-serif;
	color: rgb(255, 255, 255);
	margin: 18px;
	padding: 10px;
	border: 1px solid rgb(255, 255, 255);
}
textarea {
	width: 97%;
	height: 200px;
}
input:nth-last-of-type(1){
	background-color: rgb(17, 116, 158);
	width: 20%;
	left: 40%;
}